body {
    margin: 0;
    padding: 0;
    background-color: #0b0c10;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 1000px;
}

.card {
    background: linear-gradient(135deg, #1c1c1c, #282828);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #f0f0f0;
    position: relative;
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 25px rgba(255, 165, 0, 0.6);
}

h3 {
    font-size: 1.3em;
    color: #f39c12;
}

.card img {
    width: 80px;
    border-radius: 50%;
    border: 3px solid #f39c12;
    margin: 10px 0;
}

.skills span {
    display: inline-block;
    background: rgba(255, 165, 0, 0.2);
    padding: 8px 12px;
    border-radius: 20px;
    margin: 5px 5px;
    font-size: 0.9em;
    color: #ff9900;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3);
}

.meta {
    font-size: 0.9em;
    color: #b0b0b0;
}

.coming-soon {
    color: #919191;
    padding-top: 60px;
    font-size: 25px;
}

.link {
    color: #f0f0f0;
    text-decoration-line: none;
}

@keyframes neonGlow {
    0% {box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);}
    100% {box-shadow: 0 0 20px rgba(255, 165, 0, 0.8);}
}
